<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
  </div>
</div>

{{!-- hoempage includes: existing blog posts, navigation links for homepage and dashboard, log in button --}}